@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #hick {
        grid-column: 1/3;
    }

    #visual {
        grid-column: 3/5;
    }

    #space {
        grid-column: 5/7;
        width: 90%;
    }
}