body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr 40px;
    grid-row: 1/2;
    background-color: #3c4e3b;
}

header img {
    grid-column: 1/2;
    height: auto;
    width: 150px;
}

header h1 {
    grid-column: 2/3;
    color: white;
    padding-left: 15px;
}

header button {
    grid-column: 3/4;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

#mode {
	font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

nav {
    grid-row: 2/3;
    padding: 0px;
}

nav a:link, a:visited, a:active {
    color: #330731;
}

nav ul {
    margin: 0;
    padding: 10px;
}

nav ul li {
    text-align: center;
    list-style: none;
}

.about {
    grid-row: 3/4;
    padding: 2em;
    color: #330731;
    background-color: #d8c677;
    margin: 40px;
}

.about h2 {
    margin: auto;
    padding: 0;
}

.about p {
    margin: 15px 0 0 0;
    padding-bottom: 50px;
}

.about img {
    height: auto;
    width: 300px;
    margin: auto;
}

.about p:last-child {
    padding: 0;
}

.information {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 4/5;
}

.cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 5/6;
}

#events {
    display: grid;
    grid-template-rows: auto auto 1fr;
    color: #330731;
}

#events h2 {
    grid-row: 1/2;
    background-color: #d8c677;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 0 10px;
}

#events h3 {
    grid-row: 2/3;
    background-color: #d8c677;
    padding: 10px 10px 10px 20px;
    margin: 0 10px 0 10px;
}

#events p {
    grid-row: 3/4;
    background-color: #d8c677;
    margin: 0 10px 20px 10px;
    padding: 0 20px 20px 20px;
}

#weather {
    display: grid;
    grid-template-rows: auto auto 1fr;
    color: #330731;
}

#weather h3 {
    grid-row: 1/2;
    background-color: #d8c677;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 0 10px;
}

#weather p {
    grid-row: 2/3;
    background-color: #d8c677;
    margin: 0 10px 20px 10px;
    padding: 0 20px 30px 20px;
}

.card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    color: #330731;
}

.card img {
    height: 120px;
    width: auto;
    grid-row: 1/2;
    margin: auto;
}

.card h2 {
    grid-row: 2/3;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 0 10px;
    background-color: #d8c677;
}

.card h3 {
    grid-row: 2/3;
    padding: 10px 10px 10px 20px;
    margin: 10px 10px 0 10px;
    background-color: #d8c677;
}

.card p {
    grid-row: 3/4;
    background-color: #d8c677;
    margin: 0 10px 30px 10px;
    padding: 0 20px 20px 20px;
}

footer {
    grid-row: 5/6;
    background: #3c4e3b;
    padding: .6rem;
    text-align: center;
    margin-top: 45px;
    color: white;
}