body {
    display: grid;
    height: 100vh;
    grid-template: auto auto auto 1fr auto / auto;
    margin: 0px;
}
  
header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background: red;
    grid-column: 1 / 4;
    padding: .17rem;
}

header img {
    display: block;
    margin-left: auto;
    grid-column: 3/4;
}

header h1 {
    color: white;
    grid-column: 4/5;
    text-align: left;
    margin: auto 0;
    margin-left: 40px;
    font-family: 'Crimson Text', Helvetica, sans-serif;
}

nav {
    background: black;
    grid-column: 1 / 4;
    padding: 0px;
}

nav ul {
    margin: 0;
    padding: 10px;
}

nav ul li {
    text-align: center;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Crimson Text', Helvetica, sans-serif;
    margin: 8px;
}
  
main {
    background: white;
    grid-column: 1 / 4;
    align-content: center;
    height: 100%;
    width: 85%;
    padding: 1rem;
    margin: auto;
}

main h2 {
    text-align: center;
}
  
footer {
    background: red;
    padding: 1.7rem;
    text-align: center;
    grid-column: 1 / 4;
    font-family: 'Crimson Text', Helvetica, sans-serif;
    margin-top: 150px;
}

img {
    width: 125px;
    height: auto;
    border: 1px solid;
}

main ul li {
    list-style: none;
}

.card {
    border: 1px solid;
    border-radius: 2%;
    margin: 10px;
    box-shadow: 0 0 20px #777;
    font-family: 'Crimson Text', Helvetica, sans-serif;
}

.card h3 {
    background-color: red;
    border-start-start-radius: 5%;
    border-start-end-radius: 5%;
    margin: auto;
    text-align: center;
    padding: .5rem;
}